*{
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(register_page_background.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    width: 400px;
    height: 480px;
     padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(3px);
    border-radius: 30px;
    box-shadow: 10px 10px 10px;
}

h1{
    text-align: center;
    /* margin: 20px 0; */
    margin-bottom: 0.4rem;
}

p{
    text-align: center;
    margin-bottom: 0.6rem;
    font-size: 0.95rem;
}
form {
    width: 90%;
    /* border: 1px solid black; */
}

.info {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
}

.info input {
    
    height: 2rem;
    border-radius: 0.6rem;
    margin: 0.2rem 0;
    padding: 0 0.5rem;
    font-size: 0.85rem;
    border: none;
}

.info label {
    font-size: 0.85rem;
}

.btn {
    display: flex;
    justify-content: space-between;
    margin-top: 0.8rem;
}

button {
    width: 7rem;
    height: 2rem;
    font-size: 0.95rem;
    padding: 0.1rem;
    border-radius: 0.8rem;
    cursor: pointer;
    border: none;
    box-shadow: 2px 1px 10px;
}

#submit_btn {
    background-color: #c13e81;
    transition-duration: 1s;
}

#submit_btn:hover {
    background-color: #4448b5;

}

img {
    height: 60px;
    width: 60px;
    position: absolute;
    top: -3.2rem;
    /* left: 5%; */
    animation: bike 5s ease-in-out 0s infinite  normal;
}

@keyframes bike {
    0% {
        left: 2%;
    }
    35% {
        
        left: 85%;
    }
    95% {
        transform: scaleX(-1);
        
    }
    100% {
        transform: scaleX(1);
        left: 2%;
    }
}